</head>
<body>
  <nav>
		<i class="fas fa-plane"></i>
    <a 
    href="/meals/new" <%- title === 'Add Meal' ? 'class="active"' : '' %>
  >
    ADD MEAL
  </a>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
    href="/flights/" <%- title === 'All Flight' ? 'class="active"' : '' %>
  >
    ALL FLIGHTS
  </a>
  </nav>